*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
a{
    display: inline-block;
}
p{
    color: black;
}
.container{
    width: 1140px;
    margin: 0 auto ;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    padding:15px 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
    background-color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
}


header .container .logo {
    width: 100px;
}
header .container a{ 
   color: red;
   text-decoration: none;
   margin: 0 15px;
}
.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}
.boton.boton-rojo{
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}

#inicio{
    position: relative;
}
#inicio img{
    width: 100%;
    display: block;
}
#inicio img{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
}
#inicio .bloque-inicio h1{
    color: white;
    font-size: 35px;
}
#inicio .bloque-inicio p{
    color: white;
    font-size: 16px;
  
}